@page "/"

<PageTitle>Nothies.Blazor.DexieWrapper Demo</PageTitle>
<h1>Nothies.Blazor.DexieWrapper Demo</h1>

<button @onclick="CreatePersonClicked">Create Person</button>

<button @onclick="ReadPersonClicked">Read Person</button>

<button @onclick="UpdatePersonClicked">Update Person</button>

<button @onclick="DeletePersonClicked">Delete Person</button>

<br /><br /><br />

@if(_person != null) {
    <table>
        <tbody>
            <tr>
                <td>First Name:</td>
                <td>@_person.FirstName</td>
             </tr>
            <tr>
                <td>Second Name:</td>
                <td>@_person.SecondName</td>
            </tr>
            <tr>
                <td>Birthday:</td>
                @if (_person.Birthday > DateTime.MinValue)
                {
                    <td>@_person.Birthday.ToString("d")</td>
                }
            </tr>
        </tbody>
    </table>
}

<button @onclick="AddBlob">Add Blob</button>
<button @onclick="BulkAddBlob">Bulk Add Blob</button>
<button @onclick="PutBlob">Put Blob</button>

<button @onclick="AddObjectUrl">Add ObjectUrl</button>
<button @onclick="PutObjectUrl">Put ObjectUrl</button>

<button @onclick="DeleteDb">Delete DB</button>

<button @onclick="TransactionCompleted">TransactionCompleted</button>
<button @onclick="TransactionFailed">TransactionFailed</button>

<button @onclick="ChangeDb">ChangeDb</button>


